@font-face {
	font-family: 'UTMCaviar';
	src: url('./UTMCaviar.eot');
	src: local('UTMCaviar'), url('./UTMCaviar.woff') format('woff'), url('./UTMCaviar.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_79355">Text with this font applied</p> */
.fontsforweb_fontid_79355 {
	font-family: 'UTMCaviar' !important;
}

/* Font downloaded from FontsForWeb.com */